@font-face {
  font-display: swap;
  font-family: montserrat;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"),
    url("../font/montserrat-regular_v3.woff2") format("woff2");
}
