@import "./variables";
@import "./mixins";

body {
  overflow-x: hidden;
  max-width: 100vw;
}

:global {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@include media("desktopMedium") {
  :global {
    .grid,
    .hr {
      width: $width-desktopMedium;
    }
  }
}

@include media("desktop") {
  :global {
    .grid,
    .hr {
      width: $width-desktop;
    }
  }
}

// tablet
@include media("tabletMedium") {
  :global {
    .grid {
      width: calc(100% - 40px);
    }
  }
}

@include media("tablet") {
  :global {
    .grid {
      width: calc(100% - 40px);
    }
  }
}

@include media("phone") {
  :global {
    .grid {
      width: calc(100% - 40px);
    }
  }
}
